VITE_FIREBASE_API_KEY=AIzaSyAzIu_atP8NMmzv2wqP7tjbDMPeW7J-1IY
VITE_FIREBASE_AUTH_DOMAIN=ai-time-table-scheduler-bd17f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-time-table-scheduler-bd17f
VITE_FIREBASE_STORAGE_BUCKET=ai-time-table-scheduler-bd17f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=923286175598
VITE_FIREBASE_APP_ID=1:923286175598:web:7db99cb8c3949d00b30b7f
